<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<link href="https://fonts.googleapis.com/css2?family=Girassol&display=swap" rel="stylesheet">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<link rel="shortcut icon" href="{{ url_for('static', filename='icon.png') }}">
<title>CAR PERFORMANCE PREDICTION</title>
<div class="navbar">
    <section class="title">
        <h1>
            <p style="font-family: 'courier new', cursive ;">CAR PERFORMANCE ANALYZER</p>
        </h1>


    </section>
</div>

<div class="wrapper fadeInDown">
    <div id="formContent">
        <!-- Tabs Titles -->
        <section class="date">
            <!-- Icon -->
            <div class="fadeIn first">
                <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>

            </div>
            <div class="fadeInDown">
                <form action="{{ url_for('y_predict')}}" method="post">
                    <input type="text" name="Cylinders" placeholder="No.of cylinders (count)" required="required" />
                    <input type="text" name="Displacement" placeholder="Displacement (in miles)" required="required" />
                    <input type="text" name="Horsepower" placeholder="Horsepower (per sec)" required="required" />
                    <input type="text" name="Weight" placeholder="Weight (in pounds)" required="required" />
                    <input type="text" name="Model Year" placeholder="Model Year (YY)" required="required" />
                    <input type="text" name="Origin" placeholder="Origin" required="required" />
                    <br>
                    <input type="submit" class="fadeIn fourth" value="Predict">
                </form>
        </section>

        <div id="formFooter">
            <a class="underlineHover" href="#">
                <strong>{{ prediction_text }}</strong></a>
        </div>
    </div>
</div>
</div>